body {
  background-image: url(image/2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

header,
footer {
  background-color: black;
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding: 10px;
}

.container {
  width: 19rem;
  background: transparent;
  height: auto;
  text-align: center;
  margin: 5rem auto;
  border-radius: 20px;
  box-shadow: 10px 10px 20px black;
  padding: 20px;
  background-color: rgba(8, 8, 7, 0.7);
}

.container h1 {
  font-size: 50px;
}

.container p {
  margin: 5px auto;
  width: 95%;
  font-size: 18px;
  margin-bottom: 40px;
  text-align: justify;
}

.container input {
  width: 65%;
  height: 2.2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.container button {
  width: 30%;
  height: 2.4rem;
  transition: all 1.5s;
  font-size: 18px;
  border: none;
  box-shadow: 2px 2px 3px rgba(247, 245, 245, 0.5);
}

.container button:hover {
  background-color: rgb(109, 106, 106);
  color: white;
  font-size: 18px;
  border-radius: 10px;
  height: 2.5rem;
}

#show-result {
  box-sizing: border-box;
  width: 90%;
  height: 3.5rem;
  background: transparent;
  border-radius: 10px;
  margin: 20px auto 5px auto;
  box-shadow: 5px 5px 10px black;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
}
